*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

#grid {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#grid img {
    max-width: 100%;
}