*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

#grid {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid;

}